{% extends "base.html" %}
{% block title %}Oasis{% endblock %}
{% block content %}
      <video autoplay loop muted class="bgvideo" id="bgvideo">
   <source src="/static/video/rpo_2.mp4" type="video/mp4">
  </video>


<div class="container">
    <div class="row">
        <img src="/static/ico/CyberLogo.png" class="mx-auto d-block" alt="Logo" style="width: 400px; height: auto; margin-top: 60px">
            <div class="col-10">
                <div class="sign-wrap-3">
                   <span class="sign_word">
                      <h1 class="welcome mx-auto d-block">Welcome to OASIS</h1>
                   </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p class="under-welcome">
                    OASIS - decentralized game distribution service that allows developers to sell their games without any fees, and players to buy games with cryptocurrency from anywhere in the world directly from developers
                    <br>
                    <br>
                    <span class="under-welcome-text">Let's go invent tomorrow instead of worrying about what happened yesterday.
                    <br>
                    <span>&copy;</span> Steve Jobs</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <a href="" class="btn btn1 btn-outline-light">Start</a>
                <a href="" class="btn btn2 btn-outline-light">About Us</a>
            </div>
    </div>
</div>

      <!-- Footer-->
      <footer class="container-fluid">
         <div class="container-fluid">
            <div class="row padding text-center">
               <div class="col-12">
                     <h3 class="contacts">Contacts</h3>
               </div>
               <div class="col-12 social padding">
                  <a href="#" class="btn">
                  <img src="/static/ico/at.png" alt="mail" class="s">
                  </a>
                  <a href="https://vk.com/public187784287" class="btn">
                  <img src="/static/ico/vk.png" alt="vk" class="s">
                  </a>
                  <a href="#" class="btn">
                  <img src="/static/ico/instagram.png" alt="instagram" class="s">
                  </a>
                  <a href="#" class="btn">
                  <img src="/static/ico/telegram.png" alt="telegram" class="s">
                  </a>
               </div>
            </div>
         </div>
      </footer>
{% endblock %}

